/* default styles for extension "tx_felogin_pi1" */
	.tx-felogin-pi1 label {
		display: block;
	}
/* default styles for extension "tx_typo3agencies" */

	.tx-agencies-box-waiting {
		background-image: url('../../typo3conf/ext/typo3_agencies/Resources/Public/Media/Icons/loading_big.gif');
		background-repeat:no-repeat;
		background-position: 50% center;


		/* for IE */
		filter:alpha(opacity=40);
		/* CSS3 standard */
		opacity:0.4;
	}

	.tx-agencies-box-waiting-firstload {
		height: 50px;
	}

/* default styles for extension "tx_randombanners" */
	input.f3-form-error {
		background-color:#FF9F9F;
		border: 1px #FF0000 solid;
	}

	.tx-randombanners table {
		border-collapse:separate;
		border-spacing:10px;
	}

	.tx-randombanners table th {
		font-weight:bold;
	}

	.tx-randombanners table td {
		vertical-align:top;
	}
/* default styles for extension "tx_pastecode_pi1" */
#d_clip_container {
	position: relative;
}
#d_clip_text {
	display: none;
}
/* default styles for extension "tx_twittersearch_pi1" */
		div.tx-twittersearch-pi1 ul.listing {
			float: left;
			width: 100%;
		}
		div.tx-twittersearch-pi1 ul.listing li.entry {
			min-height: 58px;
			list-style-type: none;
			border: #AAA 1px solid;
			padding: 5px;
			margin-bottom: 5px;
		}
		div.tx-twittersearch-pi1 ul.listing li.entry div.avatar {
			float: left;
			padding: 0 5px 0 0;
		}
		div.tx-twittersearch-pi1 ul.listing li.entry span.published {
			color: #AAA;
		}
/* default styles for extension "tx_cssfilelist" */
	.filelinks div{padding-left:25px; background:url('../../typo3/gfx/fileicons/default.gif') left top no-repeat; margin-bottom:10px;}
	.filelinks span{display:block;}
	.filelinks .filecount{display:block; margin-bottom:5px;} 
	.filelinks a{color:#000;text-decoration:none; }
	/* Icons begin */
	.filelinks .ai{background-image:url('../../typo3/gfx/fileicons/ai.gif')!important;}
	.filelinks .ani{background-image:url('../../typo3/gfx/fileicons/ani.gif')!important;}
	.filelinks .au{background-image:url('../../typo3/gfx/fileicons/au.gif')!important;}
	.filelinks .avi{background-image:url('../../typo3/gfx/fileicons/avi.gif')!important;}
	.filelinks .bmp{background-image:url('../../typo3/gfx/fileicons/bmp.gif')!important;}
	.filelinks .cdr{background-image:url('../../typo3/gfx/fileicons/cdr.gif')!important;}
	.filelinks .css{background-image:url('../../typo3/gfx/fileicons/css.gif')!important;}
	.filelinks .csv{background-image:url('../../typo3/gfx/fileicons/csv.gif')!important;}
	.filelinks .doc{background-image:url('../../typo3/gfx/fileicons/doc.gif')!important;}
	.filelinks .dtd{background-image:url('../../typo3/gfx/fileicons/dtd.gif')!important;}
	.filelinks .eps{background-image:url('../../typo3/gfx/fileicons/eps.gif')!important;}
	.filelinks .exe{background-image:url('../../typo3/gfx/fileicons/exe.gif')!important;}
	.filelinks .fh3{background-image:url('../../typo3/gfx/fileicons/fh3.gif')!important;}
	.filelinks .flash{background-image:url('../../typo3/gfx/fileicons/flash.gif')!important;}
	.filelinks .folder{background-image:url('../../typo3/gfx/fileicons/folder.gif')!important;}
	.filelinks .gif{background-image:url('../../typo3/gfx/fileicons/gif.gif')!important;}
	.filelinks .htm{background-image:url('../../typo3/gfx/fileicons/htm.gif')!important;}
	.filelinks .html{background-image:url('../../typo3/gfx/fileicons/html.gif')!important;}
	.filelinks .ico{background-image:url('../../typo3/gfx/fileicons/ico.gif')!important;}
	.filelinks .inc{background-image:url('../../typo3/gfx/fileicons/inc.gif')!important;}
	.filelinks .java{background-image:url('../../typo3/gfx/fileicons/java.gif')!important;}
	.filelinks .jpg{background-image:url('../../typo3/gfx/fileicons/jpg.gif')!important;}
	.filelinks .js{background-image:url('../../typo3/gfx/fileicons/js.gif')!important;}
	.filelinks .max{background-image:url('../../typo3/gfx/fileicons/max.gif')!important;}
	.filelinks .mid{background-image:url('../../typo3/gfx/fileicons/mid.gif')!important;}
	.filelinks .mov{background-image:url('../../typo3/gfx/fileicons/mov.gif')!important;}
	.filelinks .mpeg{background-image:url('../../typo3/gfx/fileicons/mpeg.gif')!important;}
	.filelinks .mpg{background-image:url('../../typo3/gfx/fileicons/mpg.gif')!important;}
	.filelinks .pcd{background-image:url('../../typo3/gfx/fileicons/pcd.gif')!important;}
	.filelinks .pcx{background-image:url('../../typo3/gfx/fileicons/pcx.gif')!important;}
	.filelinks .pdf{background-image:url('../../typo3/gfx/fileicons/pdf.gif')!important;}
	.filelinks .png{background-image:url('../../typo3/gfx/fileicons/png.gif')!important;}
	.filelinks .ps{background-image:url('../../typo3/gfx/fileicons/ps.gif')!important;}
	.filelinks .psd{background-image:url('../../typo3/gfx/fileicons/psd.gif')!important;}
	.filelinks .rtf{background-image:url('../../typo3/gfx/fileicons/rtf.gif')!important;}
	.filelinks .sgml{background-image:url('../../typo3/gfx/fileicons/sgml.gif')!important;}
	.filelinks .swf{background-image:url('../../typo3/gfx/fileicons/swf.gif')!important;}
	.filelinks .sxc{background-image:url('../../typo3/gfx/fileicons/sxc.gif')!important;}
	.filelinks .sxw{background-image:url('../../typo3/gfx/fileicons/sxw.gif')!important;}
	.filelinks .tga{background-image:url('../../typo3/gfx/fileicons/tga.gif')!important;}
	.filelinks .tif{background-image:url('../../typo3/gfx/fileicons/tif.gif')!important;}
	.filelinks .ttf{background-image:url('../../typo3/gfx/fileicons/ttf.gif')!important;}
	.filelinks .txt{background-image:url('../../typo3/gfx/fileicons/txt.gif')!important;}
	.filelinks .wav{background-image:url('../../typo3/gfx/fileicons/wav.gif')!important;}
	.filelinks .wrl{background-image:url('../../typo3/gfx/fileicons/wrl.gif')!important;}
	.filelinks .xls{background-image:url('../../typo3/gfx/fileicons/xls.gif')!important;}
	.filelinks .xml{background-image:url('../../typo3/gfx/fileicons/xml.gif')!important;}
	.filelinks .xsl{background-image:url('../../typo3/gfx/fileicons/xsl.gif')!important;}
	.filelinks .zip{background-image:url('../../typo3/gfx/fileicons/zip.gif')!important;}
	/* Icons end */
	.filelinks a:hover{text-decoration:underline;}/* Captions */
DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

/* Needed for noRows setting */
DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

/* Border just around the image */
DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG, DIV.csc-textpic-border DIV.csc-textpic-single-image IMG {
    border: 1px solid #D9D9D9;
    padding: 0px 0px;
}

DIV.csc-textpic-imagewrap { padding: 0; }

DIV.csc-textpic IMG { border: none; }

/* DIV: This will place the images side by side */
DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

/* UL: This will place the images side by side */
DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

/* DL: This will place the images side by side */
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; } /* FE-Editing Icons */
DL.csc-textpic-image { margin: 0; }
DL.csc-textpic-image DT { margin: 0; display: inline; }
DL.csc-textpic-image DD { margin: 0; }

/* Clearer */
DIV.csc-textpic-clear { clear: both; }

/* Margins around images: */

/* Pictures on left, add margin on right */
DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
    display: inline; /* IE fix for double-margin bug */
    margin-right: 3px;
}

/* Pictures on right, add margin on left */
DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
    display: inline; /* IE fix for double-margin bug */
    margin-left: 5px;
}

/* Pictures centered, add margin on left */
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
    display: inline; /* IE fix for double-margin bug */
    margin-left: 5px;
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; vertical-align:bottom; }

/* Space below each image (also in-between rows) */
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 5px; }
DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 5px; display: block; }
DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }
DIV.csc-textpic DIV.csc-textpic-single-image IMG { margin-bottom: 5px; }

/* IE7 hack for margin between image rows */
*+html DIV.csc-textpic DIV.csc-textpic-imagerow .csc-textpic-image { margin-bottom: 0; }
*+html DIV.csc-textpic DIV.csc-textpic-imagerow { margin-bottom: 5px; }

/* No margins around the whole image-block */
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

/* Add margin from image-block to text (in case of "Text w/ images") */
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
    margin-right: 5px !important;
}
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
    margin-left: 5px !important;
}

/* Positioning of images: */

/* Above */
DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

/* Center (above or below) */
DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

/* Right (above or below) */
DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

/* Left (above or below) */
DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

/* Left (in text) */
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

/* Right (in text) */
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

/* Right (in text, no wrap around) */
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
/* End hide from IE5/mac */

/* Left (in text, no wrap around) */
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text,
* html .csc-textpic-intext-left ol,
* html .csc-textpic-intext-left ul { height: 1%; }
/* End hide from IE5/mac */

DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }

/* Browser fixes: */

/* Fix for unordered and ordered list with image "In text, left" */
.csc-textpic-intext-left ol, .csc-textpic-intext-left ul {padding-left: 40px; overflow: auto; }

/* Image gallery fade */
.csc-textpic .csc-textpic-imagewrap.fade {
	position: relative;
	height: 221px;
	width: 710px;
	overflow: hidden;
}

.csc-textpic .csc-textpic-imagewrap.fade .csc-textpic-imagerow {
	position: absolute;
	display: none;
}

/* Image gallery fade - end */


html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}legend{color:#000;}input,button,textarea,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

/* mac glow disable */
input:focus { outline: none; }

/* Custom stuff : Mozila button reset*/
.bu::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner 		{ padding: 0; border: none; }/* Percentage grid
------------------------------ */
.g,
.gc {
	zoom: 1;
}
.g:after,
.gc:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.g-3,
.g-5,
.g-6,
.g-75,
.g-25 {
	float: left;
	clear: right;
}

.g-5 {
	width: 50%;
}
.g-6 {
	width: 67%;
}
.g-3 {
	width: 33%;
}

.gc {
	padding-left: 15px;
}

.g-5:first-child > .gc,
.g-6:first-child > .gc,
.g-3:first-child > .gc,
.g-25:first-child > .gc,
.g-75:first-child > .gc {
	padding-right: 15px;
	padding-left: 0;
}

.g-75 {
	width: 75%;
}
.g-25 {
	width: 25%;
}

/* Fixed grid
------------------------------ */ul.a2z {
	list-style-type: none;
}
ul.a2z li {
	padding: 0;
	display: inline;
}
ul.a2z .act {
	font-weight: bold;
}.jqplot-target{position:relative;color:#666;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:1em;}.jqplot-axis{font-size:.75em;}.jqplot-xaxis{margin-top:10px;}.jqplot-x2axis{margin-bottom:10px;}.jqplot-yaxis{margin-right:10px;}.jqplot-y2axis,.jqplot-y3axis,.jqplot-y4axis,.jqplot-y5axis,.jqplot-y6axis,.jqplot-y7axis,.jqplot-y8axis,.jqplot-y9axis{margin-left:10px;margin-right:10px;}.jqplot-axis-tick,.jqplot-xaxis-tick,.jqplot-yaxis-tick,.jqplot-x2axis-tick,.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick{position:absolute;}.jqplot-xaxis-tick{top:0;left:15px;vertical-align:top;}.jqplot-x2axis-tick{bottom:0;left:15px;vertical-align:bottom;}.jqplot-yaxis-tick{right:0;top:15px;text-align:right;}.jqplot-yaxis-tick.jqplot-breakTick{right:-20px;margin-right:0;padding:1px 5px 1px 5px;z-index:2;font-size:1.5em;}.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick{left:0;top:15px;text-align:left;}.jqplot-meterGauge-tick{font-size:.75em;color:#999;}.jqplot-meterGauge-label{font-size:1em;color:#999;}.jqplot-xaxis-label{margin-top:10px;font-size:11pt;position:absolute;}.jqplot-x2axis-label{margin-bottom:10px;font-size:11pt;position:absolute;}.jqplot-yaxis-label{margin-right:10px;font-size:11pt;position:absolute;}.jqplot-y2axis-label,.jqplot-y3axis-label,.jqplot-y4axis-label,.jqplot-y5axis-label,.jqplot-y6axis-label,.jqplot-y7axis-label,.jqplot-y8axis-label,.jqplot-y9axis-label{font-size:11pt;position:absolute;}table.jqplot-table-legend{margin-top:12px;margin-bottom:12px;margin-left:12px;margin-right:12px;}table.jqplot-table-legend,table.jqplot-cursor-legend{background-color:rgba(255,255,255,0.6);border:1px solid #ccc;position:absolute;font-size:.75em;}td.jqplot-table-legend{vertical-align:middle;}td.jqplot-seriesToggle:hover,td.jqplot-seriesToggle:active{cursor:pointer;}td.jqplot-table-legend>div{border:1px solid #ccc;padding:1px;}div.jqplot-table-legend-swatch{width:0;height:0;border-top-width:5px;border-bottom-width:5px;border-left-width:6px;border-right-width:6px;border-top-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-style:solid;}.jqplot-title{top:0;left:0;padding-bottom:.5em;font-size:1.2em;}table.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;}.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}.jqplot-highlighter-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}.jqplot-point-label{font-size:.75em;z-index:2;}td.jqplot-cursor-legend-swatch{vertical-align:middle;text-align:center;}div.jqplot-cursor-legend-swatch{width:1.2em;height:.7em;}.jqplot-error{text-align:center;}.jqplot-error-message{position:relative;top:46%;display:inline-block;}div.jqplot-bubble-label{font-size:.8em;padding-left:2px;padding-right:2px;color:rgb(20%,20%,20%);}div.jqplot-bubble-label.jqplot-bubble-label-highlight{background:rgba(90%,90%,90%,0.7);}div.jqplot-noData-container{text-align:center;background-color:rgba(96%,96%,96%,0.3);}/**
 * Default styles for TER
 */
div.tx_terfe2 {
	position: relative; /* needed for sorting selectbox */
}

div.ter-toggle {
	background: url(../../typo3conf/ext/t3org_template/i/i-arrows.png) no-repeat -1314px -75px;
	margin: 0 0 5px 0;
	padding: 0 0 0 12px;
	color: #8c8c8c;
	font-size: 11px;
	cursor: pointer;
}

div.ter-toggle-showLess {
	background-position: -802px -674px;
}

div.ter-toggle span {
	background: #fff;
	position: relative;
	z-index: 2;
	padding: 0 5px 0 0;
}

div.ter-toggle hr {
	position: relative;
	top: -9px;
	z-index: 1;
	margin: 0;
}

.ter-toggle-show {
	display: none;
}

img.ter-ext-icon {
	position: relative;
	top: 4px;
	margin: 0 8px 0 0;
}

div.ter-ext-info {
	font-size: 11px;
}

div.ter-ext-info a {
	color: #000;
}

div.ter-ext-info table {
	margin: 0;
}

div.ter-ext-info table td,
div.ter-ext-info table th {
	border: none;
	padding: 2px 0;
}

div.ter-ext-info table th {
	width: 100px;
	color: #8c8c8c;
	background: none;
	font-weight: normal;
}

span.ter-ext-state {
	padding: 0 0 0 5px;
	font-weight: bold;
	text-transform: capitalize;
}

span.ter-ext-state-obsolete {
	color: #8c8c8c;
	font-weight: normal;
}

span.ter-ext-state-stable {
	color: #3db900;
}

span.ter-ext-state-beta {
	color: #f4bd00;
}

span.ter-ext-state-alpha {
	color: #f14400;
}


/**
 * Search form
 */
div.ter-ext-list-search {
	background: none repeat scroll 0 0 #FCFCFC;
	border: 1px solid #DADADA;
	padding: 8px 10px;
	position: relative;
}

input#ter-ext-list-search-needle {
	background: url(../../typo3conf/ext/ter_fe2/Resources/Public/Images/buttons.png) repeat-x scroll 0 -94px transparent;
	border: 1px solid #DBDBDB;
	font-size: 11px;
	padding: 4px;
	width: 415px;
	margin-right: 5px;
	margin-top: -1px;
}

span.ter-ext-list-search-sorting {
	float: right;
	height: 23px;
	line-height: 23px;
}

span.ter-ext-list-search-sorting select {
	font-size: 11px;
}


/**
 * Extension list
 */
div.ter-ext-list-count {
	color: #B9B9B9;
	font-size: 11px;
	padding: 18px 0 9px 0;
}

div.ter-ext-list-row {
	padding: 10px 0;
	border-top: 1px solid #D1D1D1;
	position: relative;
}
div.ter-ext-list-row:hover {
	background: url(../../typo3conf/ext/ter_fe2/Resources/Public/Images/bg_row_hover.png) repeat-x left bottom;
}
div.ter-ext-list-row-first {
	border-top: none;
}

div.ter-ext-list-row-head a {
	font-weight: bold;
}

span.ter-ext-list-row-key {
	display: block;
	float: right;
	margin: 0 10px 0 0;
	color: #8C8C8C;
	font-size: 11px;
}

div.ter-ext-list-row-description {
	overflow: auto;
	float: left;
	width: 340px;
	margin: 5px 0 7px 30px;
}

div.ter-ext-list-meta {
	color: #8C8C8C;
	font-size: 11px;
	margin: 0 0 5px 0;
}

div.ter-ext-list-row-info {
	float: right;
	width: 300px;
	margin: 3px 0 0 0;
}

div.ter-ext-list-row-downloads {
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
div.ter-ext-list-row:hover div.ter-ext-list-row-downloads {
	display: block;
}
.ter-download-icon {
	display: inline-block;
	font-size: 0;
	height: 27px;
	line-height: 0;
	width: 20px;
	margin: 0 0 0 8px;
}
.ter-download-icon-t3x {
	background: url(../../typo3conf/ext/ter_fe2/Resources/Public/Icons/t3x.png) no-repeat;
}
.ter-download-icon-zip {
	background: url(../../typo3conf/ext/ter_fe2/Resources/Public/Icons/zip.png) no-repeat;
}
div.tx_terfe2 .b-pager {
	border-top: 1px solid #D1D1D1;
	padding: 20px 0 0 0;
}


/**
 * Extension details
 */
#ter-ext-single h2 {
	display: inline;
}

#ter-ext-single img.ter-ext-icon {
	top: 2px;
}

.ter-ext-single-description {
	float: left;
	width: 390px;
	margin: 15px 30px 0 0;
}

.ter-ext-single-info {
	float: right;
	width: 280px;
	margin: 13px 0 0 0;
}
div.ter-ext-info table tr.ter-ext-single-info-key th,
div.ter-ext-info table tr.ter-ext-single-info-key td {
	margin: 10px 0 0 0;
}
.ter-ext-single-info-relations a {
	text-decoration: none;
}
.ter-ext-single-info-relations a:hover {
	text-decoration: underline;
}
.ter-ext-single-info-manual span {
	color: #000 !important;
}

.ter-ext-single-download {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #D1D1D1;
	background: url(../../typo3conf/ext/ter_fe2/Resources/Public/Icons/download.png) no-repeat center right;
}
.ter-ext-single-download a {
	font-weight: bold;
}
.ter-ext-single-filesize {
	color: #8C8C8C;
	font-size: 10px;
	line-height: 12px;
}
.ter-ext-single-download .ter-download-icon {
	float: left;
	margin: 2px 15px 0 0;
}

.ter-ext-single-versionhistory table {
	margin: 0;
}
.ter-ext-single-versionhistory table td {
/*	border: none;
	padding: 0 0 6px 0;*/
}
.ter-ext-single-versionhistory .col1 {
	width: 95px;
}
.ter-ext-single-versionhistory .col3 {
	width: 90px;
	text-align: right;
}

.ter-ext-single-versionhistory .latest-version-row {
    background-color: #EEEEEE;
    border-bottom: 2px solid #A0A0A0;
}

.ter-ext-single-versionhistory .insecure-version-row {
    background-color: #FFF3F3;
}

.ter-ext-single-favorites .favor,
.ter-ext-single-favorites .no-favor:hover {
	background: url(../../typo3conf/ext/ter_fe2/Resources/Public/Images/fav-star.png) no-repeat top left;
	padding-left: 25px;
	cursor: pointer;
}

.ter-ext-single-favorites .no-favor,
.ter-ext-single-favorites .favor:hover {
	background: url(../../typo3conf/ext/ter_fe2/Resources/Public/Images/fav-star_grey.png) no-repeat top left;
	padding-left: 25px;
	cursor: pointer;
}

#ter-ext-single .extension-description {
	width: 400px;
	float: left;
}

#ter-ext-single .download-button {
	position: relative;
	float: right;
}

.ter-ext-single-header .ter-ext-icon {
	float: left;
}


/**
 * Review form
 */
div.ter-ext-single-versions {
	border: 1px solid #D1D1D1;
	width: 150px;
	display: block;
	margin-bottom: 12px;
}

div.ter-ext-single-versions table {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
}

div.ter-ext-single-versions tr {
	background: none;
	padding: 0;
	margin: 0;
	font-size: 11px;
	line-height: 14px;
	text-align: left;
}

div.ter-ext-single-versions tr.even {
	background-color: #F7F7F7;
}

div.ter-ext-single-versions td {
	padding: 0;
	margin: 0;
	border: none;
	vertical-align: middle;
	cursor: pointer;
}

div.ter-ext-single-versions td.ter-ext-single-versions-label {
	padding: 1px 3px;
}

div.ter-ext-single-versions td.ter-ext-single-versions-label label {
	cursor: pointer;
	display: block;
	min-width: 94px;
	overflow: hidden;
}

* html div.ter-ext-single-versions td.ter-ext-single-versions-label label {
	width: 94px;
}

div.ter-ext-single-versions td.ter-ext-single-versions-input {
	padding: 1px 3px;
}

div.ter-ext-single-versions td.ter-ext-single-versions-input input {
	height: 13px;
	vertical-align: middle;
	width: 13px;
	margin: 4px 5px 4px 2px;
	cursor: pointer;
}


/**
 * Registerkeys
 */
.manage-keys .tr-even td,
.key-admin .tr-even td {
	background: none repeat scroll 0 0 #F3F3F3;
}

.manage-keys td.no-borders,
.key-admin td.no-borders {
	border-right: 0;
	border-left: 0;
	width: 40px;
}

.key-admin td.no-border-right {
	border-right: 0;
}

.manage-keys td.no-border-left,
.key-admin td.no-border-left {
	border-left: 0;
	width: 40px;
}

.manage-keys td div.b-form-inputs,
.key-admin td div.b-form-inputs {
	margin: 0;
}

div.b-form-inputs input.manage-keys-input {
	float: left;
	width: 120px;
	height: 12px;
}
input.manage-keys-submit {
	margin-left: 5px;
	height: 22px !important;
}

.manage-keys th.transfer-colum {
	width: 33%;
}

.key-admin th.transfer-colum {
	width: 40%;
}

.key-admin th.colA4 {
	width: 60%;
}

div.tx_terfe2 div.register-wrapper {
	clear: both;
	display: block;
}

div.tx_terfe2 div.registerkey-label {
	float:left;
	width: 33%;
}

div.tx_terfe2 div.register-input {
	float: left;
	width: 66%;
	margin: 0 0 10px;
}

div.tx_terfe2 p.registerkey-help {
	color: #8C8C8C;
}

div.tx_terfe2 div.category-container div.category {
	float: left;
	width: 150px;
}

div.tx_terfe2 hr {
	clear: both;
	margin-bottom: 10px;
}


/**
 * Authors
 */
div.ter-author-info {
	font-size: 11px;
	padding: 17px 0 0 0;
}

div.ter-author-info table th {
	background: none;
	color: #8C8C8C;
	font-weight: normal;
	width: 100px;
}

div.ter-author-info table td,
div.ter-author-info table th {
	border: medium none;
	padding: 2px 0;
}


/**
 * Categories
 */
div.ter-category-info {
	font-size: 11px;
	padding: 17px 0 0 0;
}

div.ter-category-info table th {
	background: none;
	color: #8C8C8C;
	font-weight: normal;
	width: 100px;
}

div.ter-category-info table td,
div.ter-category-info table th {
	border: medium none;
	padding: 2px 0;
}


/**
 * jqPlot styles
 */
div.jqplot-highlighter-tooltip {
	background: #ffffff;
	color: #F58006;
	padding: 0 3px;
	font-size: 11px;
	border: 1px solid #9E9E9E;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 3px rgba(120,120,120,0.75);
	-moz-box-shadow: 1px 1px 3px rgba(120,120,120,0.75);
	box-shadow: 1px 1px 3px rgba(120,120,120,0.75);
}


/* th_rating stuff */

.thRating-RObj2-stars, .thRating-RObj2-stars a:hover, .thRating-RObj2-stars a:active, .thRating-RObj2-stars a:focus, .thRating-RObj2-stars .current-rating {
	background: url(http://typo3.org/typo3conf/ext/th_rating/Resources/Public/Css/stars.gif) 0 0 repeat-x;
}