# coding: utf-8

[general]

project     = Welcome!
version     = 2.0
release     =
t3author    = TYPO3 Documentation Team
copyright   = since ever by the TYPO3 Documentation Team

description = This manual comprises the contents of the docs.typo3.org
   homepage and the "glue"-pages.


[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = master
github_commit_hash   =
github_repository    = TYPO3-Documentation/DocsTypo3Org-Homepage
github_revision_msg  =
github_sphinx_locale =
project_contact      = mailto:documentation@typo3.org
project_discussions  =
project_home         =
project_issues       = https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage/issues
project_repository   = https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage
use_opensearch       =


[intersphinx_mapping]

t3api         = https://typo3.org/api/typo3cms/
t3cgl         = https://stage.docs.typo3.com/typo3cms/CodingGuidelinesReference/
t3contribute  = https://stage.docs.typo3.com/typo3cms/ContributionWorkflowGuide/
t3coreapi     = https://stage.docs.typo3.com/typo3cms/CoreApiReference/
t3editors     = https://stage.docs.typo3.com/typo3cms/EditorsTutorial/
t3extbase     = https://stage.docs.typo3.com/typo3cms/ExtbaseGuide/
t3extbasebook = https://stage.docs.typo3.com/typo3cms/ExtbaseFluidBook/
t3fal         = https://stage.docs.typo3.com/typo3cms/FileAbstractionLayerReference/
t3inside      = https://stage.docs.typo3.com/typo3cms/InsideTypo3Reference/
t3install     = https://stage.docs.typo3.com/typo3cms/InstallationGuide/
t3l10n        = https://stage.docs.typo3.com/typo3cms/FrontendLocalizationGuide/
t3security    = https://stage.docs.typo3.com/typo3cms/SecurityGuide/
t3services    = https://stage.docs.typo3.com/typo3cms/Typo3ServicesReference/
t3sitepackage = https://stage.docs.typo3.com/typo3cms/SitePackageTutorial/
t3skinning    = https://stage.docs.typo3.com/typo3cms/SkinningReference/
t3start       = https://stage.docs.typo3.com/typo3cms/GettingStartedTutorial/
t3tca         = https://stage.docs.typo3.com/typo3cms/TCAReference/
t3templating  = https://stage.docs.typo3.com/typo3cms/TemplatingTutorial/
t3ts45        = https://stage.docs.typo3.com/typo3cms/TyposcriptIn45MinutesTutorial/
t3tsconfig    = https://stage.docs.typo3.com/typo3cms/TSconfigReference/
t3tsref       = https://stage.docs.typo3.com/typo3cms/TyposcriptReference/
t3tssyntax    = https://stage.docs.typo3.com/typo3cms/TyposcriptSyntaxReference/
t3viewhelper  = https://stage.docs.typo3.com/typo3cms/ViewHelperReference/

h2document    = https://stage.docs.typo3.com/typo3cms/HowToDocument/
rendert3docs  = https://stage.docs.typo3.com/typo3cms/RenderTYPO3DocumentationGuide/



[notify]

# The toolchain 'RenderDocumentation' looks at this entry.
# Specify a comma separated list of one or more email addresses. If one of them is
# 'no', then notification is turned off for all.

about_new_build =
   no,
   francois.suter@typo3.org,
   martin.bless@typo3.org

# # Example: Turn off notification
# about_new_build = no

[extensions]

any_name_youtube = sphinxcontrib.youtube

