# coding: utf-8

[general]

project     = Welcome!
version     = 2.0
release     =
t3author    = TYPO3 Documentation Team
copyright   = since ever by the TYPO3 Documentation Team

description = This manual comprises the contents of the docs.typo3.org
   homepage and the "glue"-pages.


[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = master
github_commit_hash   =
github_repository    = TYPO3-Documentation/DocsTypo3Org-Homepage
github_revision_msg  =
github_sphinx_locale =
project_contact      = https://typo3.org/community/teams/documentation/#c9886
project_discussions  =
project_home         =
project_issues       = https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage/issues
project_repository   = https://github.com/TYPO3-Documentation/DocsTypo3Org-Homepage
use_opensearch       =
is_homepage          = yes



[intersphinx_mapping]


t3cheatsheets = https://docs.typo3.org/m/typo3/docs-cheatsheets/master/en-us/
# currently does not work with "t3changelog:start" yet, because "start" label does not exist
t3changelog   = https://docs.typo3.org/c/typo3/cms-core/master/en-us/
t3contribute  = https://docs.typo3.org/m/typo3/guide-contributionworkflow/master/en-us/
t3coreapi     = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
t3editors     = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
t3extbase     = https://docs.typo3.org/m/typo3/guide-extbasefluid/master/en-us/
t3extbasebook = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/
t3install     = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
t3l10n        = https://docs.typo3.org/m/typo3/guide-frontendlocalization/master/en-us/
t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
t3start       = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
t3tca         = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
t3templating  = https://docs.typo3.org/m/typo3/tutorial-templating/master/en-us/
t3ts45        = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
t3tsconfig    = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/
t3viewhelper  = https://docs.typo3.org/other/typo3/view-helper-reference/master/en-us/

h2document    = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/



# outdated: should no longer be used as reference
t3cgl         = https://docs.typo3.org/typo3cms/CodingGuidelinesReference/
t3fal         = https://docs.typo3.org/typo3cms/FileAbstractionLayerReference/
t3inside      = https://docs.typo3.org/typo3cms/InsideTypo3Reference/
t3security    = https://docs.typo3.org/typo3cms/SecurityGuide/
t3services    = https://docs.typo3.org/typo3cms/Typo3ServicesReference/
t3skinning    = https://docs.typo3.org/typo3cms/SkinningReference/
t3tssyntax    = https://docs.typo3.org/typo3cms/TyposcriptSyntaxReference/

[notify]

# The toolchain 'RenderDocumentation' looks at this entry.
# Specify a comma separated list of one or more email addresses. If one of them is
# 'no', then notification is turned off for all.

about_new_build =
   no,
   francois.suter@typo3.org,
   martin.bless@typo3.org

# # Example: Turn off notification
# about_new_build = no

[extensions]

any_name_youtube = sphinxcontrib.youtube

